<div class="container">
    <h2>Joey's Consignment Form</h2>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div>
            <div class="form-row">
                <div class="col-6">
                    <label for="FirstName"> First Name</label>
                    <input name="FistName" class="form-control" placeholder="First name" id="FirstName"
                        [(ngModel)]="formSettings.FirstName" required #firstNameField="ngModel"
                        (blur)="onBlur(firstNameField)"
                        [class.field-error]="form.submitted && firstNameField.invalid" />
                    <div [hidden]="!form.submitted || firstNameField.valid" class="alert alert-danger">
                        Please enter a name.
                    </div>
                </div>


                <!-- <div class="col-6"> -->
                <label for="LastName"> Last Name</label>
                <input class="form-control" name="LastName" placeholder="Last name" id="LastName"
                    [(ngModel)]="formSettings.LastName" required />
                <!-- </div> -->
            </div>
            <label for="Email">Email address</label>
            <input type="Email" name="Email" class="form-control" id="Email" aria-describedby="emailHelp"
                placeholder="Enter email" [(ngModel)]="formSettings.Email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <div class="form-check form-check-inline">
                <div>Would like to sell or consign your item(s)</div>
                <input class="form-check-input" type="radio" name="Action" id="inlineRadio1" value="Sell"
                    [(ngModel)]="formSettings.Action" required>
                <label class="form-check-label" for="inlineRadio1">Sell</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Action" id="inlineRadio2" value="Consign"
                    [(ngModel)]="formSettings.Action" required />
                <label class="form-check-label" for="inlineRadio2">Consign</label>
            </div>
            <label for="ItemName"> Item Name</label>
            <input placeholder="Item Name" name="ItemName" class="form-control" id="ItemName"
                [(ngModel)]="formSettings.ItemName" required />
        </div>


        <div class="form-group">
            <label for="Quantity">How many items do you want to consign?</label>
            <select class="form-control" name="Quantity" id="Quantity" [(ngModel)]="formSettings.Quantity">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6-10</option>
                <option>11-15</option>
                <option>16-20</option>
                <option>21-25</option>
                <option>26-30</option>
                <option>31-40</option>
                <option>41-50</option>
                <option>More than 50 items</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Category"> Please select your items category</label>
            <select class="form-control" name="Category" id="Category" [(ngModel)]="formSettings.Category" required>
                <option>Jewelry</option>
                <option>Toys</option>
                <option>Clothing</option>
                <option>Antiques</option>
                <option>Tools</option>
                <option>Sport Memorabilia</option>
                <option>Trading Cards</option>
                <option>Collectibles</option>
                <option>Electronics</option>
                <option>Other</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Description">Describe the item(s) you would like to consign or sell.</label>
            <textarea class="form-control" id="Description" name="description" rows="3"
                [(ngModel)]="formSettings.Description" required></textarea>
        </div>
        <button class="btn btn-primary">Send</button>
    </form>


</div>