<div class="container">
    <h2>Joey's Consignment Form</h2>
    <form #form="ngForm">
        <div>
            <div class="form-row">
                <div class="col-6">
                    <label for="first-name"> First Name</label>
                    <input name="fist-name" class="form-control" placeholder="First name" id="first-name" ngModel />
                </div>
                <!-- <div class="col-6"> -->
                <label for="last-name"> Last Name</label>
                <input class="form-control" name="last-name" placeholder="Last name" id="last-name" ngModel />
                <!-- </div> -->
            </div>
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Enter email" ngModel>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <div class="form-check form-check-inline">
                <div>Would like to sell or consign your item(s)</div>
                <input class="form-check-input" type="radio" name="action" id="inlineRadio1" value="sell" ngModel>
                <label class="form-check-label" for="inlineRadio1">Sell</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="action" id="inlineRadio2" value="consign" ngModel />
                <label class="form-check-label" for="inlineRadio2">Consign</label>
            </div>
            <label for="item-name"> Item Name</label>
            <input placeholder="Item Name" name="item-name" class="form-control" id="item-name" ngModel />
        </div>


        <div class="form-group">
            <label for="quantity">How many items do you want to consign?</label>
            <select class="form-control" name="quantity" id="quantity" ngModel>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6-10</option>
                <option>11-15</option>
                <option>16-20</option>
                <option>21-25</option>
                <option>26-30</option>
                <option>31-40</option>
                <option>41-50</option>
                <option>More than 50 items</option>
            </select>
        </div>

        <div class="form-group">
            <label for="category"> Please select your items category</label>
            <select class="form-control" name="category" id="category" ngModel>
                <option>Jewelry</option>
                <option>Toys</option>
                <option>Clothing</option>
                <option>Antiques</option>
                <option>Tools</option>
                <option>Sport Memorabilia</option>
                <option>Trading Cards</option>
                <option>Collectibles</option>
                <option>Electronics</option>
                <option>Other</option>
            </select>
        </div>

        <div class="form-group">
            <label for="description">Describe the item(s) you would like to consign or sell.</label>
            <textarea class="form-control" id="description" name="description" rows="3" ngModel></textarea>
        </div>
        <button class="btn btn-primary">Send</button>
    </form>


</div>

{{form.value | json}}